@import url("https://fonts.googleapis.com/css?family=Libre%20Baskerville:700|Libre%20Baskerville:400");

:root {
  --bg: #0b0c10;
  --card: #14161b;
  --text: #e8ecf1;
  --muted: #9aa3af;
  --accent: #99f54f;
  --maxw: 57rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.7;
}

header {
  background-color: var(--card);
  padding: 1.5rem 1rem;
  border-bottom: 0.05rem solid var(--accent);
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

nav {
  display: flex;

  justify-content: space-between;
  margin-top: 15px;
  gap: 1rem;
}
.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: clamp(16px, 3vw, 28px);
  padding-block: clamp(20px, 3vh, 36px);
}

main {
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 1.75rem 1.25rem;
  display: grid;
  gap: 1.25rem;
}

.card {
  background-color: var(--card);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

section {
  padding: 1rem 0;
}

p {
  line-height: 1.7rem;
  margin-bottom: 1.25rem;
}

a {
  cursor: pointer;
  color: var(--accent);
  text-decoration: underline;
}
a:hover {
  color: var(--muted);
}

a:active {
  opacity: 0.7;
}

footer {
  max-width: 100%;
  background: #1e2026;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--muted);
  text-align: center;
  border-top: 0.05rem solid var(--accent);
}
