@import url("https://fonts.googleapis.com/css?family=Libre%20Baskerville:700|Libre%20Baskerville:400");

:root {
  --bg: #0b0c10;
  --card: #14161b;
  --text: #e8ecf1;
  --muted: #9aa3af;
  --accent: #69c0ff;
  --maxw: 57reml;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.5;
}

header {
  background-color: var(--card);
  padding: 1.5rem 1rem;
  border-bottom: 0.05rem solid var(--accent);
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}
h2,
h3,
h4,
h5 {
  font-family: "Libre Baskerville";
  font-weight: 700;
}

main {
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 1.75rem 1rem;
}

h3 {
  padding: 1rem 0 0 0;
}

section {
  padding: 1rem 0;
}

p {
  padding: 1rem 0;
}

ol,
ul {
  padding: revert;
}

a {
  color: var(--accent);
  text-decoration: underline;
}
a:hover {
  color: var(--text);
  text-decoration: underline;
}

footer {
  max-width: 100%;
  background-color: var(--muted);
  color: var(--text);
  font-size: 0.75rem;
  text-align: center;
  border-top: 0.05rem solid var(--accent);
}
